$politics: #d0011b;
$business: #bd10e0;
$tech: #4a90e2;
$science: #7cbb37;
$sports: #f5a623;
$login-button: #4990e2;
$login-button-hover: #5e9be2;
$header-border: #979797;
$default-text-color: #3e433e;
$news-paragraph: #686868;
$author-name: #808080;
