@media screen and (min-width: 320px) {
	.pageLayout {
		padding: 55px 15px;
	}
}

@media screen and (min-width: 750px) and (max-width: 1169px) {
	.pageLayout {
		padding: 55px 40px;
	}
}

@media screen and (min-width: 1170px) {
	.pageLayout {
		padding: 76px 130px;
	}
}
